body{
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Helvetica;
}
.main{
    margin-left: 2vw;   
}
.header{
    display:inline-flex;
    margin-bottom: -3vw;
}
.socialmediainf{
    display:inline-flex;
    margin-left: 10px;
    margin-top: 50px;
}
.pclass{
    text-align: center;
    margin-left: 40px; 
    font-weight: bold;
}

.imagen{
    border-radius: 100px;
    width: 100px;
    padding: 6px;
    border: solid 2px gray;
}
.biography{
margin-top: -10px;
}
.etiqueta{
    background-color: rgb(59, 59, 59);
    border-radius: 50px;
    width: fit-content;
    margin-left: 0;
    font-weight: none;
    padding: 3px;
}
.new{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.education-color{
    color: skyblue;
}
.link{
    font-weight: bold;
}
p{
    margin-top: -10px;
}
.members{
    color: gray;
    scale: .9;
}
.followedimg{
    border-radius: 100px;
    width: 30px;
    float: left;
}
.followedtext{
    margin-top: 22px;
    margin-left: 37px;
}
.buttonssection{
    width: 95%;
    display: inline-flex;
    gap: 5px;
}
.button{
    border-radius: 10px;
    height: 27px;
    border: transparent;
}
.followbutton{
    transition: .5 s;
width: 45%;
background-color: rgb(66, 149, 244);
color: white;
}
.unfollowbutton{
    transition: .5 s;
    width: 45%;
    background-color: rgb(38, 38, 38);
    color: white;
}
.messagebutton{
    width: 45%;
    background-color: rgb(38, 38, 38);
    color: white;
}
.suggested{
    display: inline-flex;
    width: 10%;
    height: 27px;
    border-radius: 10px;
    background-color: rgb(38, 38, 38);
    color: white;
    border: transparent;
    padding-top: 4px;
}
.highlighted{
    border-radius: 100px;
    width: 50px;
    padding: 6px;
    border: solid 2px gray;
    margin-left: 20px;
}
.imghighlighted{
margin-left: -20px;
display: inline-flex;

}
.text{
    margin-left: 20px;
}
.phighlighted{
    margin-left: 30px;
}
.diviconos{
    transition: .5s;
    width: 32%;
    margin-left: -5px;
    display: inline-flex;
    border-bottom: 2px solid white;
    justify-content: center;
}
.diviconos2{
    width: 32%;
    transition: .5s;
    display: inline-flex;
    border-bottom: 2px solid rgb(29, 29, 29);
    justify-content: center;
}
.diviconos2:hover > .iconitos2{
   scale: 1.2;
   transition: .5s;
   opacity: 1;
}

.iconitos{

    transition: .5s;
    width: 10%;
    margin-bottom: 10px;
}
.iconitos2{
    transition: .5s;
    width: 10%;
    margin-bottom: 10px;
    opacity: .5;
}
.grid{
    text-align: center;
    grid-column: 1 / 1 / 1;
    padding: 20px;
    margin-left: -10px;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el ancho de las columnas según sea necesario */
    grid-gap: 10px; /* Espacio entre las imágenes */
  }
  
  .grid-item {
    width: 100%;
    overflow: hidden; /* Para evitar que las imágenes se desborden */
  }
  
  .grid-item img {
    width: 100%;
    height: auto; /* Para mantener la proporción de aspecto */
  }




